.counter-container {
	display: grid;
	grid-template-columns: repeat(16, 2rem);
	grid-template-rows: 1rem;
	justify-content: space-around;
}

.counter {
	height: 1em;
}
.counter.active {
	background: red;
}
